extends layout

block content
	.page-header
		h1= titleAdmin
	.lead
		#app(data-port=socketPort)
			select(id="teamSelector",class="form-control")
				each team, i in teams
					option(value=team) #{teamNames[team]}
			| &nbsp;
			button(type="button",class="btn btn-primary golive") Set team LIVE
			| &nbsp;
			button(type="button",class="btn btn-warning offair") Set team OFFAIR
			| &nbsp;
			button(type="button",class="btn btn-danger reset") Reset stat
			br
			br
			span Active teams:&nbsp;
				span(id="enabledTeams")
			br
			span Active connections:&nbsp;
				span(id="connections") 0

	script(src='/socket.io/socket.io.js')
	script(src='http://code.jquery.com/jquery-2.0.3.min.js')
	script(src='/js/admin.js')
	script(src='/js/bootstrap.min.js')
