/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto 0 auto;
	/* Pad bottom by footer height */
	padding: 0 0 0;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.container .credit {
	margin: 20px 0;
}
#teamSelector {
	width: 200px;
	display: inline;
}


/* BAZSI CSINÁLTA SZERINTEM BIZTOS JÓ LESZ!
-------------------------------------------------- */


.team .cantVote {
	display: block;
}
.team .voted,
.team .notVoted {
	display: none;
}
.team.active .cantVote {
	display: none;
}
.team.active .voted,
.team.active .notVoted {
	display: block;
}

@font-face {
	font-family: ProximaNovaBold;
	src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
}

@font-face {
	font-family: ProximaNovaLight;
	src: url('../fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
	font-family: ProximaNovaThin;
	src: url('../fonts/ProximaNova-Thin.otf') format('opentype');
}

body {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	font-family: ProximaNovaLight, Arial;
	background-color: #cecece;
}

p { margin: 0 }

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #da0303;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.clearAfter:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

header {
	padding: .5rem 0;
	background-color: #feb021;
	font-size: 1.8rem;
	color: #fff;
	text-align: center;
}

.voter {
	position: relative;
	height: 24rem;
	padding: 1rem;
	border-bottom: 1px solid #fff;
	background-color: rgba(0, 0, 0, .5);
}
.voter:last-of-type {
	border: 0 none;
}
.voter.disabled {
	background-color: rgba(255, 255, 255, .6);
}

.voter.disabled * {
	color: #000;
}

.voter::after {
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.macgyver::after {
	background: transparent url(../img/macgyver.jpg) center center no-repeat;
	background-size: cover;
}

.ignore::after {
	background: transparent url(../img/ignore.jpg) center center no-repeat;
	background-size: cover;
}

.screamo::after {
	background: transparent url(../img/screamo.jpg) center center no-repeat;
	background-size: cover;
}

.cod::after {
	background: transparent url(../img/cod.jpg) center center no-repeat;
	background-size: cover;
}

.pumasimi::after {
	background: transparent url(../img/pumasimi.jpg) center center no-repeat;
	background-size: cover;
}

.fruitloops::after {
	background: transparent url(../img/fruitloops.jpg) center center no-repeat;
	background-size: cover;
}

.ateam::after {
	background: transparent url(../img/ateam.jpg) center center no-repeat;
	background-size: cover;
}

.eduteam::after {
	background: transparent url(../img/eduteam.jpg) center center no-repeat;
	background-size: cover;
}

.redduck::after {
	background: transparent url(../img/redduck.jpg) center center no-repeat;
	background-size: cover;
}

.fux::after {
	background: transparent url(../img/fux.jpg) center center no-repeat;
	background-size: cover;
}

.nyitmak::after {
	background: transparent url(../img/nyitmak.jpg) center center no-repeat;
	background-size: cover;
}

.voterBottom {
	position: absolute;
	bottom: 2rem;
}

h1, h2, h3, p {
	margin: 0;
	font-weight: normal;
	color: #fff;
}

h1 {
	margin-bottom: .1rem;
}

h2 {
	margin-bottom: 1rem;
}

h3 {
	font-family: ProximaNovaBold;
	line-height: 1.2;
	text-transform: uppercase;
}

p {
	margin: 3rem 0 1rem;
}

.numbers {
	margin-bottom: 1rem;
}

.numbers li {
	float: left;
	margin: 0 .625rem .5rem 0;
	border: 1px solid #fff;
	font-size: 1rem;
	line-height: 2.625rem;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

.numbers li:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.numbers .preactive {
	background-color: #2ecc71;
}

.numbers input {
	display: none;
}

.numbers label {
	display: block;
	width: 2.625rem;
	height: 2.625rem;
	cursor: pointer;
}

.voterAction {
	display: inline-block;
	padding: 1rem;
	border: 1px solid #fff;
	background-color: #feb021;
	font-family: ProximaNovaBold;
	color: #fff;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

a.voterAction:hover {
	background-color: #feb444;
	text-decoration: none;
}

.voterAction.voted {
	padding: .6rem .5rem;
	font-family: ProximaNovaLight;
	background-color: transparent;
}

.voterAction.voted .numVoted {
	display: inline-block;
	padding: .4rem .6rem;
	margin-right: .6rem;
	background-color: #2ecc71;
}

.voterAction.wait {
	font-family: ProximaNovaLight;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
}
